/* root css */
:root{
    --button-color:#E02C6D;
    --button-hover-color:#ff00bf;
    --blue-background:#2D25A0;
    --heading-color:#0A0826;
}

/* ---------------
utilities css 
------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    font: 400 16px/26px 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    color:var(--heading-color);
}
p{
    color:#6C6C6C;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
width: 1050px;
}

/* ------------------
Top part style 
---------------------*/

/* header style */
.top-part{
    background-color: var(--blue-background);
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-area, .hero{
    width: 1164px;
}
.navigation, .hero, .highlights, footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:42px 0;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav ul li a{
    color:#ffffff;
    text-decoration: none;
    font-weight: 500;
}
.btn{
    background-color: var(--button-color);
    border:1px solid var(--button-color); 
    color:#ffffff;
    padding: 10px 24px;
    transition: all 0.5s;	
}
.btn:hover{
    background-color: transparent;
    border:1px solid #fff;
}
.action-btn .btn i{
    margin-right: 5px;
}
.hero-left .btn i{
    margin-right: 5px;
    animation: icon 1.5s linear infinite;
}

@keyframes icon {
    0%, 100%{
        transform: translate(0);
    }
    50%{
        transform: translate(10px);
    }
    0% 100%{
        transform: translate(15px);
    }
}
.hero-left .btn i, .highlights-left .btn i{
    margin-left: 5px;
    transition:all 0.3s;
}
.hero-left .btn:hover i, .highlights-left .btn:hover i{
    margin-left: 10px;
}

/* hero section style  */
.hero{
    padding-bottom: 86px;
}
.hero-left{
    padding-right: 130px;
}
.hero-title{
    font:700 64px/80px 'Poppins', sans-serif;
    margin:27px 0;
    color:#ffffff;
}
.hero-right img{
    max-width: 556px;
}


/* blogs section style */
main{
    background-color: #ffffff;
}
.article-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    padding:70px 0px;
}
article{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
article img{
    height: 256px;
    width: 300px;  
}
article h3{
    color:#18191F;
    font-size: 28px;
    line-height: 40px;
    padding:10px 0px;
}

/* highlights section  */
.highlights{
    padding:95px 0px 158px; 
}
.highlights-title, .gallery-title{
    font:700 48px/60px 'Poppins', sans-serif;
    margin:10px 0;
}
.highlights-left{
    padding-right: 66px;
}
.highlights-left .btn{
    display: inline-block;
    margin-top:20px;
}
.highlights-left .btn:hover{
    border:1px solid var(--button-hover-color);
    color:#000;
}
.highlights-right img{
    max-width: 500px;
}

/* gallery section style */
.gallery{
    padding-bottom: 70px;
}
.gallery-title{
    text-align: center;
    padding: 0 0 50px;
}
.gallery-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-photos img{
    width:32%;
    cursor: pointer;
    padding: 10px 0;
}

/* newsletter section style */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 70px 0;
    margin-bottom:70px;
}
.newsletter-title{
    font:700 36px/50px 'Poppins', sans-serif;
    margin:10px 0 30px;
    text-align:center;
}
input{
    padding: 10px;
    margin: 5px;
    border:2px solid var(--heading-color);
    font-size: 18px;
    border-radius: 3px;
}

input[type="submit"]{
    background-color: var(--heading-color);
    color:#ffffff;
    border:none;
    padding: 11px 20px;
    cursor: pointer;
    letter-spacing: 3px;
    transition: 0.3s;
    border:1px solid var(--heading-color);
}
input[type="submit"]:hover{
    background-color: var(--blue-background);
    color:#ffffff;
}

/* footer style */
footer{
    flex-direction: column;
    padding:0 0 63px;
}
.footer-logo img{
    max-width: 400px;
}
.social-icons i{
    display: inline-block;
    margin:0px 5px 15px;
    padding: 10px;
    font-size: 20px;
    background-color: #E7E7E8;
    border-radius:100%;
    color:#969BAB;
    transition:0.3s;
}
.social-icons i:hover{
    background-color: var(--button-color);
    color:#ffffff;
    cursor:pointer;
}

